@page "/"
@using SampleAppsShared.Localization

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

This page is using the <a target="_blank" href="https://www.nuget.org/packages/BlazorWasmAntivirusProtection">BlazorWasmAntivirusProtection</a> package. More info <a href="https://github.com/stavroskasidis/BlazorWasmAntivirusProtection" target="_blank">here</a>.

<SurveyPrompt Title="How is Blazor working for you?" />


<div>
    Resources Test: @StringResources.TestString
</div>